.documents {
	/* .documents__promo */
	&__promo {
		position: relative;

		@media (min-width: $mobile) {
			margin-top: 18px;
		}
	}

	/* .documents__promo-body */
	&__promo-body {
		@media (min-width: $mobile) {
			@include adaptiveValue('padding-top', 130, 75, 1920, 768, 1);
		}
	}

	&__promo-wrapper {
		display: grid;
		grid-template: auto / 1fr;
		column-gap: 40px;

		@media (min-width: $mobile) {
			grid-template: 1fr / 1fr 1fr;
		}
	}

	/* .documents__promo-title */
	&__promo-title {
		margin-top: 37px;
		font-weight: 300;
		@include adaptiveValue('font-size', 64, 30);
		@include adaptiveValue('line-height', 74, 35);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #ffffff;
		text-align: center;
		br {
			display: none;
		}
		@media (min-width: $mobile) {
			margin-top: 0;
			text-align: left;
			br {
				display: block;
			}
		}
	}

	/* .documents__promo-descr */
	&__promo-descr {
		margin-top: 10px;
		@include adaptiveValue('font-size', 18, 12);
		line-height: 179.1%;
		p + p {
			@include adaptiveValue('margin-top', 30, 20);
		}
	}

	/* .documents__promo-btn */
	&__promo-btn {
		@include adaptiveValue('margin-top', 40, 20);
		max-width: 509px;
		white-space: normal;
		font-weight: 300;
		@include adaptiveValue('font-size', 18, 12);
		line-height: 21px;
		min-height: 91px;
		height: auto;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $mobile) {
			margin-left: 0;
			margin-right: 0;
		}
		& > div {
			min-height: 91px;
			height: auto;
		}
	}

	/* .documents__promo-video */
	&__promo-video {
	}
}

.promo-video {
	max-width: 800px;
	@include adaptiveValue('height', 500, 265, 768, 320, 1);
	margin-top: 40px;
	padding: 2px 0 2px 2px;
	@include adaptiveValue('border-top-left-radius', 110, 55);
	@include adaptiveValue('border-bottom-left-radius', 110, 55);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background: linear-gradient(
		92.35deg,
		#b48a3d 9.32%,
		#fcecce 50.74%,
		#ccab6c 95.84%
	);
	margin-right: -15px;

	@media (min-width: $mobile) {
		margin-top: 0;
		@include adaptiveValue('height', 700, 265);
	}

	@media (min-width: $pc) {
		position: absolute;
		right: 0;
		top: 0;
		@include adaptiveValue('width', 600, 296);
	}

	@media (min-width: em(1584)) {
		width: 100% !important;
	}

	@media (min-width: em(1920)) {
		left: calc(50% + 40px);
		padding: 1px;
		@include adaptiveValue('border-top-right-radius', 110, 55);
		@include adaptiveValue('border-bottom-right-radius', 110, 55);
	}

	/* .promo-video__preview */
	&__preview {
		@include adaptiveValue('border-top-left-radius', 110, 55);
		@include adaptiveValue('border-bottom-left-radius', 110, 55);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 100%;
		height: 100%;
		@include adaptiveValue('padding-top', 28, 10);
		padding-right: 0;
		@include adaptiveValue('padding-left', 28, 10);
		@include adaptiveValue('padding-bottom', 28, 10);
		overflow: hidden;
		background: #000;
		position: relative;

		picture img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include adaptiveValue('border-top-left-radius', 110, 55);
			@include adaptiveValue('border-bottom-left-radius', 110, 55);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			@media (min-width: em(1920)) {
				@include adaptiveValue('border-top-right-radius', 110, 55);
				@include adaptiveValue('border-bottom-right-radius', 110, 55);
			}
		}

		@media (min-width: em(1920)) {
			@include adaptiveValue('border-top-right-radius', 110, 55);
			@include adaptiveValue('border-bottom-right-radius', 110, 55);
			@include adaptiveValue('padding-right', 28, 10);
		}
	}
}

// List

.documents {
	/* .documents__list */
	&__list {
		@include adaptiveValue('margin-top', 174, 60);
		position: relative;
	}

	/* .documents__container */
	&__container {
	}

	&__list-wrapper {
		display: flex;
		flex-direction: column;
		@media (min-width: $mobile) {
			flex-direction: row;
		}
		@media (min-width: $tablet) {
			flex-direction: column !important;
		}
	}

	/* .documents__list-wrapper */
	&__list-body {
		display: grid;
		gap: 30px;
		.documents__list-item--wrapper {
			@include adaptiveValue('padding-top', 41, 20);
			@include adaptiveValue('padding-bottom', 41, 20);
			@include adaptiveValue('padding-left', 25, 20);
			@include adaptiveValue('padding-right', 25, 20);
		}
		grid-template: auto / 1fr;
		@media (min-width: $tablet) {
			grid-template: 1fr / 2fr 1fr 1fr;
		}
		&-bottom {
			display: grid;
			gap: 36px;
			margin-top: 37px;
			.documents__list-item--wrapper {
				@include adaptiveValue('padding-top', 46, 20);
				@include adaptiveValue('padding-bottom', 46, 20);
				@include adaptiveValue('padding-left', 36, 20);
				@include adaptiveValue('padding-right', 36, 20);
			}
			grid-template: auto / 1fr;
			@media (min-width: $mobile) {
				margin-left: 36px;
				margin-top: 0;
			}
			@media (min-width: $tablet) {
				grid-template: 1fr / 1fr 1fr 1fr;
				margin-top: 37px !important;
				margin-left: 0 !important;
			}
		}
	}

	&__list-bg {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		pointer-events: none;
		top: -140px;
		@media (min-width: em(1920)) {
			width: 100%;
		}
	}

	/* .documents__list-item */
	&__list-item {
		@include adaptiveValue('border-radius', 37, 25);
		background: linear-gradient(
			92.35deg,
			#b48a3d 9.32%,
			#fcecce 50.74%,
			#ccab6c 95.84%
		);
		padding: 2px;
	}

	/* .documents__list-item--photo */
	&__list-item--photo {
		display: grid;
		grid-template: 1fr / 0.9fr 1.2fr;
		background: none;
		.documents__list-item--wrapper {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			width: 100%;
			background: linear-gradient(
				92.35deg,
				#b48a3d 9.32%,
				#fcecce 50.74%,
				#ccab6c 95.84%
			);
			padding: 2px 2px 2px 0;
			@include adaptiveValue('border-top-right-radius', 37, 25);
			@include adaptiveValue('border-bottom-right-radius', 37, 25);
		}
		.documents__list-btn {
			white-space: normal;
			text-align: center;
		}
	}

	/* .documents__list-item--img */
	&__list-item--img {
		@include adaptiveValue('border-top-left-radius', 37, 25);
		@include adaptiveValue('border-bottom-left-radius', 37, 25);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	/* .documents__list-item--wrapper */
	&__list-item--wrapper {
		@include adaptiveValue('border-radius', 37, 25);
		height: 100%;
		background: #000;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__list-item--inner {
		@include adaptiveValue('border-top-right-radius', 37, 25);
		@include adaptiveValue('border-bottom-right-radius', 37, 25);
		background: #000;
		height: 100%;
		@include adaptiveValue('padding-top', 41, 20);
		@include adaptiveValue('padding-bottom', 41, 20);
		@include adaptiveValue('padding-left', 25, 10);
		@include adaptiveValue('padding-right', 25, 10);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	/* .documents__list-title */
	&__list-title {
		@include adaptiveValue('font-size', 18, 14);
		line-height: 137.6%;
	}

	/* .documents__list-descr */
	&__list-descr {
		margin-top: 25px;
		@include adaptiveValue('font-size', 14, 12);
		line-height: 137.6%;
		color: rgba(255, 255, 255, 0.52);
	}

	/* .documents__list-btn */
	&__list-btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		margin-top: 39px;
		max-width: 275px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

// News

.documents {
	/* .documents__news */
	&__news {
		@include adaptiveValue('margin-top', 200, 50);
		position: relative;
	}

	&__news-bg {
		position: absolute;
		pointer-events: none;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
		@include adaptiveValue("top", -300, -200);
		@media (min-width: em(1920)) {
			width: 100%;
		}
	}

	/* .documents__container */
	&__container {
	}

	/* .documents__news-wrapper */
	&__news-wrapper {
		display: grid;
		grid-template: auto / 1fr minmax(min-content, max-content);
		justify-content: space-between;
		@include adaptiveValue('gap', 40, 20);
	}

	/* .documents__news-title */
	&__news-title {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	/* .documents__news-slider--navigation */
	&__news-slider--navigation {
		display: flex;
		align-items: center;
		grid-column: 1/3;
		grid-row: 3/4;

		@media (min-width: $mobile) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
	}

	/* .documents__news-slider--prev */
	&__news-slider--prev {
		margin-right: 23px;
		cursor: pointer;
		height: 50px;
		display: flex;
		align-items: center;
		&.swiper-button-disabled {
			filter: brightness(50%);
		}
	}

	/* .documents__news-slider--next */
	&__news-slider--next {
		cursor: pointer;
		height: 50px;
		display: flex;
		align-items: center;
		&.swiper-button-disabled {
			filter: brightness(50%);
		}
	}

	/* .documents__news-slider */
	&__news-slider {
		grid-column: 1/3;
		grid-row: 2/3;
		overflow: visible !important;

		ul {
			li {
				filter: brightness(10%);

				&.swiper-slide-visible {
					filter: none;
				}

				&.swiper-slide-next {
					filter: brightness(10%);

					@media (min-width: $mobile) {
						filter: none;
					}
				}

				&.swiper-slide-prev {
					filter: brightness(10%);
				}
			}
		}
	}

	/* .documents__news-slider--date */
	&__news-slider--date {
		color: rgba(255, 255, 255, 0.44);
		@include adaptiveValue('font-size', 18, 12);
		line-height: 29px;
	}

	/* .documents__news-slider--title */
	&__news-slider--title {
		@include adaptiveValue('font-size', 24, 16);
		@include adaptiveValue('line-height', 38, 26);
		margin-top: 10px;
	}

	/* .documents__news-slider--descr */
	&__news-slider--descr {
		margin-top: 15px;
		@include adaptiveValue('font-size', 16, 12);
		@include adaptiveValue('line-height', 29, 20);
	}
}
